<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>BOFFEE</title>
      <meta name="description" content="Facial recognition application"/>
      <script src="scripts/jquery.min.js"></script>
      <script src="scripts/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
      <link href="css/styles.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/font-awesome.min.css" rel="stylesheet">
      <link href="styles/main.css" rel="stylesheet">
   </head>
   <body id="top">
      <div class="site-wrapper">
      <div class="site-wrapper-inner">
         <div class="cover-container">
            <div class="masthead clearfix">
               <div class="inner">
                  <h3 class="masthead-brand">BOFFEE</h3>
                  <nav class="nav nav-masthead">
                     <a class="nav-link nav-social" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     <a class="nav-link nav-social" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     <a class="nav-link nav-social" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                     <a class="nav-link nav-social" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </nav>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-md-8 sample">
                  <div class="row">
                     <div class="col-md-4 item" id="item1">
                        <p>Brown Sugar Shortbread Latte</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item1">
                     </div>
                     <div class="col-md-4 item" id="item2">
                        <p>Caffe Americano</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item2">
                     </div>
                     <div class="col-md-4 item" id="item3">
                        <p>Caffe Latte</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item3">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 item" id="item4">
                        <p>Caffe Mocha</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item4">
                     </div>
                     <div class="col-md-4 item" id="item5">
                        <p>Caramel Machiato</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item5">
                     </div>
                     <div class="col-md-4 item" id="item6">
                        <p>Iced Pumpkin Spice Latte</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item6">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 item" id="item7">
                        <p>Iced Vanilla Latte</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item7">
                     </div>
                     <div class="col-md-4 item" id="item8">
                        <p>Salted Caramel Mocha</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item8">
                     </div>
                     <div class="col-md-4 item" id="item9">
                        <p>Skinny Mocha</p>
                        <input class="btn btn-default item_btn" value="add" type="button" id="item9">
                     </div>
                  </div>
            </div>
            
            <div class="col-md-4 sample" id="cart">
              <div id="checkoutdiv">
                <input class="btn btn-default " value="checkout" type="button" id="checkout">
                <input class="btn btn-default " value="clear" type="button" id="clear">
            </div>
            </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>