<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>BOFFEE</title>
      <meta name="description" content="Facial recognition application"/>
      <script src="scripts/jquery.min.js"></script>
      <script src="scripts/main.js"></script>
      <script src="scripts/video.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
      <link href="css/styles.css" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/font-awesome.min.css" rel="stylesheet">
      <link href="styles/main.css" rel="stylesheet">
   </head>
   <body id="top">
      <div class="site-wrapper">
      <div class="site-wrapper-inner">
         <div class="cover-container">
            <div class="masthead clearfix">
               <div class="inner">
                  <h3 class="masthead-brand">BOFFEE</h3>
                  <nav class="nav nav-masthead">
                     <a class="nav-link nav-social" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     <a class="nav-link nav-social" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     <a class="nav-link nav-social" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                     <a class="nav-link nav-social" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </nav>
               </div>
            </div>
            <br>      
            <div class="inner cover">
               <h1 class="cover-heading">The adventure Begins</h1>
               <p class="lead cover-copy">Hold tight as we get our working robots together and produce the most astonishing product ever.</p>
               <p class="lead"><button type="button" class="btn btn-lg btn-default btn-notify" data-toggle="modal" data-target="#subscribeModal">Start Order</button></p>
            </div>
            <div class="mastfoot">
               <div class="inner">
                  <p>&copy; BOFFEE. Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>.</p>
               </div>
            </div>
            <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="subscribeModalLabel">Start the order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                           <div id="wrapper">
                              <canvas id="canvas"></canvas>
                              <div id="playerHolder">
                                 <video id="player" autoplay="false"></video>
                              </div><br>
                             <div class="submitHolder">
                                 <input type="text" id="user_name" required="true"/>
                                 <button type="buttton" id="takePhotoButton" class="btn btn-default">Start</button>
                             </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>